@import url('satoshi.css');
@import url('alpino.css');

body {
    margin: 0;
    padding: 0;
    background-color: #242324;
    background-image: url(../images/Rectangle.svg);
}

h1, h2, h3, h4 {
    font-family: 'Satoshi', sans-serif;
    color: white;
    margin-bottom: 0px;
}

p, a {
    font-family: 'Alpino-Regular';
    color: white;
}

#t {
    color: #EADC21;
}

#u {
    color: #FFB235; 
}

#n {
    color: #D71285;  
}

#e {
    color: #44CEFA;
}

#s {
    color: #63E2CF;
}
/******* Navigation *******/

header nav {
    background-image: url(../images/Rectangle.svg);
    background-color: #242324;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header nav .nav-links {
    font-family: 'Alpino-Regular';
    color: white;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
}

header nav #logo {
    height: 75px;
    width: 130px;
    margin-top: 20px;
}

/******* Homepage *******/

.title {
    text-align: center;
    font-size: 96px;
    margin-top: 200px;
}

.text {
    text-align: center;
    font-size: 40px;
}

.buttonText {
    font-size: 24px;
    margin-top: 175px;
    text-align: center;
}

.button {
    text-decoration: none;
    color: white;
    font-size: 24px;
    overflow: hidden;
    position: relative;
}

  .button::before,
  .button::after {
   content: '';
    position: absolute;
    width: 100%;
    left: 0;
  }

  .button::before {
    background: rgb(234,220,33);
    background: linear-gradient(90deg, rgba(234,220,33,1) 0%, rgba(255,178,53,1) 25%, rgba(215,18,133,1) 50%, rgba(68,206,250,1) 75%, rgba(99,226,207,1) 100%);
    height: 2px;
    bottom: 0;
    transform-origin: 100% 50%;
    transform: scaleX(0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .button::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(200%, 0, 0);
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }
  
  .button:hover::before {
    transform-origin: 0% 50%;
    transform: scaleX(1);
  }

  .button:hover::after {
    transform: translate3d(0, 0, 0);
  }
  

/******* Who are we *******/

.subTitle {
    text-align: center;
    font-size: 48px;
    margin-top: 100px;
}

.subText {
    text-align: center;
    font-size: 24px;
    margin: 50px 200px 0px 200px;
}

#password, #username  {
    font-family: 'Alpino-Regular';
    font-size: 16px;
    background-color: black;
    border: white 1px solid;
    border-radius: 50px;
    color: white;
    padding: 10px 10px 10px 20px;
}

::placeholder  {
    font-family: 'Alpino-Regular';
    border: white;
    color: white;
}

.btn {
    font-family: 'Alpino-Regular';
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 30px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    margin-top: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100px;
}
 
.registerAndLogin {
    margin: 200px auto auto auto;
    padding: 50px;
    grid-area: 1 / 1 / 2 / 2;
}

.registerAndLogin a {
    text-decoration: none;
}

.registerAndLogin form label,
.registerAndLogin form input {
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
color: white;
font-family: 'Alpino-Regular';
}

#password, #username {
    background-color: transparent;
}

.anotherTitle {
    text-align: center;
    font-size: 48px;
}

.registerAndLoginScreen {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-row-gap: 0px;
    
}

.image {
    grid-area: 1 / 2 / 2 / 3;
    object-fit: cover;
    max-height: 100%;
}

#picture {
    height: 35%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

.blob {
    overflow: hidden;
    position: absolute;
    z-index: -1;
    width: 791px;
    height: 775px;
}

#yellow {
    top: 10%;
    right: 55%;
}

#orange {
    top: 15%;
    right: 40%;
}

#pink {
    top: 10%;
    right: 25%;
}

#blue {
    top: 20%;
    right: 10%;
}

#cyan {
    top: 10%;
    right: 0%;
}

#login {
    overflow: hidden;
}